name: Aidrr Tech Jobs Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours (UTC)

jobs:
  post_jobs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run job bot
        env:
          RAPIDAPI_KEY: ${{ secrets.RAPIDAPI_KEY }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          DATE_POSTED: "week"
          PAGES_PER_QUERY: "2"
        run: python jobbot.py
